#groupTab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: .35rem;
    height: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    background-color: #ffffff;
    color: #666666;
    z-index: 999;
    #groupTab-left {
        float: left;
        height: 1rem;
        width: .2rem;
        border-bottom: 2px solid #e2e2e2;
    }
    #groupTab-right {
        float: right;
        height: 1rem;
        width: .2rem;
        border-bottom: 2px solid #e2e2e2;
    }
    #groupTab-center {
        // height: 1.1rem;
        overflow: hidden;
        // border-bottom: 2px solid #e2e2e2;
        white-space: nowrap;
        padding: 0 .15rem;
        #groupTab-overflow {
            overflow-y: hidden;
            overflow-x: auto;
            -webkit-overflow-scrolling:touch;
            white-space: nowrap;
            // height: 1.5rem;
        }
        .groupTab-unit {
            display: inline-block;
            padding: 0 .2rem;
            // border-bottom: 2px solid #e2e2e2;
            white-space: nowrap;
            height: 1rem;
            line-height: 1rem;
            &.active {
                color: #2fa4f6;
                border-bottom: 2px solid #2fa4f6;
            }
        }
    }
}
