@import "./base.scss";

html, body {
	background-color: #f3f4f5;
}

#guide-content {
	overflow: hidden;
}
#guide-main {
	text-align: center;
	padding-top: .3rem;
	padding-bottom: .5rem;
	#guide-head {
		font-size: .5rem;
		margin-bottom: .3rem;
		color: #333333;
		#guide-head-tag {
			font-size: 140%;
		}
	}
	#guide-body {
		position: relative;
		height: 8.5rem;
		.guide-unit {
			width: 7rem;
			height: 7rem;
			border-radius: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.guide-unit-1 {
			margin: auto;
			width: 2.3rem;
			height: 2.3rem;
		}
		.guide-unit-2 {
			position: absolute;
		    top: 1.5rem;
		    left: .3rem;
		    width: 2.3rem;
		    height: 2.3rem;
		}
		.guide-unit-3 {
			position: absolute;
		    top: 2.9rem;
		    left: 2.2rem;
		    width: 2.5rem;
		    height: 2.5rem;
		}
		.guide-unit-4 {
			position: absolute;
		    top: 1.5rem;
		    right: .3rem;
		    width: 2.7rem;
		    height: 2.7rem;
		}
		.guide-unit-5 {
			position: absolute;
		    top: 5.2rem;
		    left: .8rem;
		    width: 2.3rem;
		    height: 2.3rem;
		}
		.guide-unit-6 {
			position: absolute;
		    top: 4.5rem;
		    right: 1rem;
		    width: 2rem;
		    height: 2rem;
		}
	}
	#guide-foot {
		margin: auto;
		width: 4rem;
		img {
			width: 100%;
		}
	}
}