@import "./base.scss";

html, body {
	background-color: #f3f4f5;
}

#guide-content {
	overflow: hidden;
}
#guide-main {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
	#guide-head {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		color: #333333;
		#guide-head-tag {
			font-size: 140%;
		}
	}
	#guide-body {
		position: relative;
		height: 26rem;
		.guide-unit {
			width: 7rem;
			height: 7rem;
			border-radius: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.guide-unit-1 {
			margin: auto;
			width: 7rem;
			height: 7rem;
		}
		.guide-unit-2 {
			position: absolute;
		    top: 23%;
		    left: 5%;
		    width: 7rem;
		    height: 7rem;
		}
		.guide-unit-3 {
			position: absolute;
		    top: 35%;
		    left: 35%;
		    width: 7rem;
		    height: 7rem;
		}
		.guide-unit-4 {
			position: absolute;
		    top: 18%;
		    right: 5%;
		    width: 7.5rem;
		    height: 7.5rem;
		}
		.guide-unit-5 {
			position: absolute;
		    top: 60%;
		    left: 15%;
		    width: 7rem;
		    height: 7rem;
		}
		.guide-unit-6 {
			position: absolute;
		    top: 60%;
		    right: 20%;
		    width: 6rem;
		    height: 6rem;
		}
	}
	#guide-foot {
		margin: auto;
		width: 12rem;
		img {
			width: 100%;
		}
	}
}