@import "./mixin/flex.scss";
#tab {
    line-height: 1rem;
    background-color: #FFFFFF;
    font-size: .35rem;
    #tab-left {
        width: 15%;
        height: 1rem;
        float: left;
        border-bottom: .05rem solid #aeaeae;
    }
    #tab-right {
        float: right;
        width: 15%;
        height: 1rem;
        border-bottom: .05rem solid #aeaeae;
    }
    #tab-center {
        width: 70%;
        margin: auto;
        @include flexRow;
        .tab-tx {
            text-align: center;
            flex: 1;
            color: #999999;
            height: 1rem;
            border-bottom: .05rem solid #aeaeae;
            &.active {
                color: #474747;
                border-bottom: .05rem solid #2fa4f6;
            }
        }
    }
}

.tab-md {
    display: none;
    &.active {
        display: block;
    }
}

// .tab-content {
//     padding: 0 .2rem;
// }
